
/*created by enjoycss*/
.blue-h4 {
    /*display: inline-block;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    float: none;
    z-index: auto;
    width: auto;
    height: auto;
    position: static;
    cursor: default;
    margin: 0;
    /*padding: 10px;*/
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    /*font: normal 48px/normal Arial, Helvetica, sans-serif;*/
    color: rgba(0,110,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow:
            /*0 0 1px rgba(102,214,255,1),*/
            /*0 0 0px rgba(102,214,255,1),*/
            /*0 0 0px rgba(102,214,255,1),*/
            /*0 0 0 rgba(102,214,255,1),*/
            /*0 0 0 rgba(102,214,255,1),*/
            /*0 0 1px rgba(102,214,255,1),*/
            /*0 0 2px rgba(102,214,255,1) ;*/

            0 0 1px rgba(0,110,255,1),
            0 0 0px rgba(0,110,255,1),
            0 0 0px rgba(0,110,255,1),
            0 0 0 rgba(0,110,255,1),
            0 0 0 rgba(0,110,255,1),
            0 0 1px rgba(0,110,255,1),
            0 0 2px rgba(0,110,255,1);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

/*created by enjoycss*/
.yellow-h4 {
    /*display: inline-block;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*float: none;*/
    z-index: auto;
    width: auto;
    height: auto;
    position: static;
    cursor: default;
    margin: 0;
    /*padding: 10px;*/
    overflow: visible;
    /*border: none;*/
    /*-webkit-border-radius: 0;*/
    /*border-radius: 0;*/
    /*font: normal 48px/normal Arial, Helvetica, sans-serif;*/
    color: rgba(255,255,0,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow:
            0 0 2px rgba(255,255,0,1),
            0 0 0 rgba(255,255,0,1),
            0 0 0 rgba(255,255,0,1),
            0 0 0 #ffff00
            , 0 0 0 #ffff00,
            0 0 1px #ffff00,
            0 0 5px rgba(255,255,0,0.7);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

#at-flowmap {
    height: 250px;
}

/* map elements */


#map-card-body {
    height: 700px;
    width: 100%;
}
#map{
    /*position: absolute;*/
    height: 70%;
    width: 100%;
}
#event{
    position: absolute;
    top: 50px;
    right: 600px;
    height: 100px;
    width: 400px;
    z-index: 10000;
}
.btn{
    /*border-color:gray;*/
    /*border-width: 2px;*/
    /*background-color:white;*/
}

#area-chart{
    height: 30%;
    pad: 0

}